.general_user_info_wrapper {
    display: flex;
    width: 925px;
    margin: 0 auto;
    padding: 30px 0px;
}

.user_info_wrapper{
    width: 100%;
    margin-left: 44px;
    padding-top: 35px;
}

.user_info_wrapper p, .libraryMain h1{
    font-size: 32px;
}

.books_info_wrapper{
    display: flex;
    justify-content: space-between;
    font-size: 26px;
}

.library_main h1{
    font-weight: 400;
}

.week_selection_wrapper, .already_read_wrapper, .reading_now_wrapper, .want_to_read_wrapper{
    width: 1100px;
    margin: 10px auto;
}

.library_main .catalog{
    justify-content: flex-start;
}

.library_main .book{
    border: 1px solid #011627;
}

.library_main{
    margin-bottom: 19px;
}

