@font-face{
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat.ttf);
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/backgroundWriters.png);
    background-size: cover;
    font-family: Montserrat;
}

.logo_wrapper{
    margin-top: 40px;
    padding: 6px 60px 22px;
    background-image: url("data:image/svg+xml;utf8,<svg width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><rect width='100%' height='100%' style='fill: none; stroke: black; stroke-width: 8; stroke-dasharray: 493 153'/></svg>")
}

h1{
    text-transform: uppercase;
    font-size: 34px;
    font-weight: normal;
}

.logo_wrapper img{
    margin: 0px 22px -7px 0px;
}

.header, .main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header, .form_wrapper{
    text-align: center;
}

.main{
    height: calc(100vh - 149.33px);
}

.form_wrapper {
    background-color: white;
    border-radius: 10px;
    padding: 0px 87px;
    box-shadow: 0 0 20px #00000073;
}

h2{
    font-size: 32px;
    font-weight: normal;
}

input{
    font-size: 19px;
    border: none;
    outline: none;
}

input:not([type="submit"]) {
    border-bottom: 2px solid #BEC3C7;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 8px;
}

input:not([type="submit"]):focus{
    border-bottom: 2px solid #8E518D;
}

input::-webkit-input-placeholder{
    color: #85898C;
    font-family: Montserrat;
}

input::-moz-placeholder{
    color: #85898C;
    font-family: Montserrat;
}

.form_wrapper p{
    font-size: 12px;
    font-style: italic;
    color: #85898C;
}

.form_wrapper p:first-of-type, h2{
    margin-top: 28px;
}

.form_wrapper p:last-of-type{
    margin-bottom: 55px;
}

.form_wrapper a{
    text-decoration: none;
    color: #8E518D;
    font-weight: 600;
}

.form_wrapper a:hover{
    color: #a852a7;
}

input[type="submit"]{
    color: #FFFBFF;
    background-color: #8E518D;
    border-radius: 5px;
    padding: 22px 109px;
    position: absolute;
    margin-top: -36px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #a852a7;
}
